<div class="mainh1"><p>Bienvenido a la pagina home de  Estadisticas de sueldos</p></div>
<div class="mainh1"><p>Es principio de InformacionSueldos  mostrar la información recabada de manera anónima pero para que sea de libre consulta por los usuarios del sitio que hayan realizado un calculo previamente de manera de poder ser parte de las estadisticas, repetimos de manera totalmente anonima.</p></div>
<div class="mainh1"><p>Por este motivo es muy importante ser responsables al ingresar datos en el calculo de ganancias, con cargo y rubro y experiencia, para poder calcular las estadisticas mas cercanas a la realidad posibles.</p></div>
<div class="mainh1"><p>Toda estadistica de rubro o cargo que se muestra en el sitio se publica a partir de tener un número de muestras que marquen una cierta tendencia. </p></div>
<div class="mainh1"><p>El sitio no guarda ningun tipo de información o dato que permita rastrear el origen o ubicacion del usuario. </p></div>