    <table border=2 width="100%">
      <tr class="titulo_noticia"><TH><%=fecha%> - <%= titulo_noticia%></TH></TR>	
      <tr class="separador_noticia"><TD class="descripcion"><%= descripcion %> </TD></tr>
      <tr><TD><a class="link_noticia" target="_blank"  href="<%= url_noticia %>" >Para ver Noticia => <%= titulo_noticia%></a></TD></tr>
    </table>


