<table border=2 width="90%">
<caption class="titulo1">Información sobre ganancias y sueldos para la toma de decisiones</caption>
 <tr>
    <td class="itemimgamenu">
      <% form_tag({:controller => 'salary',
              :action => 'index'},
             :id => 'my_id') do %> 
     <%= image_submit_tag "DP-500S-01_1_J.jpg",  :class =>'img_link'  %>        
     <% end %>         
    </td>
    <td class="itemimgamenu">
      <% form_tag({:controller => 'info_news',
              :action => 'index'},
             :id => 'my_id') do %> 
     <%= image_submit_tag "DP-500S-03_1_2_J.jpg" ,  :class =>'img_link'%>        
     <% end %>         
    </td>
    
 </tr>
  

</table>
<BR>
 <Label class="texto_aviso">!!Actualizado a JULIO del 2010!. calcula con los nuevos valores de MNI y Deducciones</Label>
<BR>
 <span class="texto_titulo1"><p>Bienvenidos! El objetivo de este sitio es brindar acceso al calculo del impuesto a las  ganancias, recopilar, clasificar y mostrar  informacion acerca de sueldos y todo aquello que afecte a los empleados en relacion de dependencia. Creemos que toda esta información debe ser publica y gratuita para todos.<p></span>
<BR>
 <span class="texto_titulo1"><p>Actualización 7 - año 2010!<p></span>
<BR>
 <span class="texto_titulo1"><p>Para cualquier duda y sugerencias, por favor envie un mail a: <%=mail_to "contacto@informacionsueldos.com.ar" %> <p></span>

