<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"  
codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" 
WIDTH="900"  HEIGHT="500"  id="charts"  ALIGN=""> 
<PARAM NAME=movie VALUE="/charts.swf?library_path=/charts_library&xml_source=<%=url_for :action=>"sueldo_bolsillo_anual",:only_path=>true%>"> 
<PARAM NAME=quality VALUE=high> 
<PARAM NAME=bgcolor VALUE=#99CC99>
<EMBED src="/charts.swf?library_path=/charts_library&xml_source=<%=url_for :action=>"sueldo_bolsillo_anual",:only_path=>true%>"  quality=high bgcolor=#99CC99  WIDTH="900"  HEIGHT="500"  NAME="charts"  ALIGN=""  swLiveConnect="true"  TYPE="application/x-shockwave-flash"  PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"> </EMBED> </OBJECT>
